.activeLink {
  color: #1976d2;
  font-size: 20px;
  text-shadow: 1px 2px 4px rgb(169, 156, 216);
}

.menuItem {
  transition: text-shadow 0.4s ease-out;
}
.menuItem:hover, .menuItem:focus {
  text-shadow: 1px -1px 5px rgba(25, 118, 210, 0.5);
}