.subscribe {
  color: brown;
  max-width: 100%;
}

.form-input {
  display: block;
  background-color: rgba(160, 82, 45, 0.3);
  border: none;
  outline: none;
  padding: 15px 10px;
  margin-bottom: 15px;
}
.form-input::-moz-placeholder {
  color: white;
  text-align: center;
}
.form-input::placeholder {
  color: white;
  text-align: center;
}

.form-btn {
  font-size: 14px;
  letter-spacing: 1px;
  background: white;
  padding: 10px 20px;
  color: brown;
  border: 3px solid rgba(160, 82, 45, 0.3);
  transition: 0.3s all linear;
  margin-bottom: 15px;
}
.form-btn:hover {
  background: rgba(160, 82, 45, 0.3);
  color: white;
}