.activeLink {
  color:white;
  font-size: 20px;
}
.items {
  padding: 0 15px;
  color: brown;
  transition: transform 0.4s ease-out;
  &:hover,
  &:focus {
    transform: scale(1.3,1.3);
  }
}
.items span {
  color: brown;
}
